# Build
/.build

# IDE
/.idea
/.vscode

# OSX
/.DS_Store

# Development
/.ddev

# Composer
/composer.lock

# TYPO3 test
/.php_cs.cache
/var/
/logs/

# Vue
/Resources/Public/JavaScript/Library/demo.html
/Resources/Public/JavaScript/Library/filelist.common.js
/Resources/Public/JavaScript/Library/filelist.common.js.map
/Resources/Public/JavaScript/Library/*hot-update.js
/Resources/Public/JavaScript/Library/*hot-update.json