# IDE
/.idea
/.vscode

# OSX
/.DS_Store

# Composer
/vendor/
/bin/
/.composer.lock

# TYPO3 test
/.php_cs.cache
/public/
/typo3/
/var/
/logs/
/index.php

# Vue
/Resources/Public/JavaScript/Library/demo.html
/Resources/Public/JavaScript/Library/filelist.common.js
/Resources/Public/JavaScript/Library/filelist.common.js.map
/Resources/Public/JavaScript/Library/*hot-update.js
/Resources/Public/JavaScript/Library/*hot-update.json