div {
	/*background-color: lightgrey;*/
	/*border: 1px solid red;*/
}

/* reset TYPO3 default styles */
.module-body {
	padding: 0;
}

/*.page-header {*/
	/*background-color: black;*/
	/*padding-left: 20px;*/
	/*line-height: 30%;*/
/*}*/
.page-header {
	margin: 0;
}
.page-header h1,
.page-header h1 small {
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
}


.digital-asset-management .icon {
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 130px;
	width: 100%;
}

.digital-asset-management .card {
	cursor: pointer;
}

.digital-asset-management .card:hover {
	background-color: #dddddd;
}
.icon-apps-filetree-folder {
	background-image: url("/typo3/sysext/core/Resources/Public/Icons/T3Icons/apps/apps-filetree-folder.svg");
}