div {
	/*background-color: lightgrey;*/
	/*border: 1px solid red;*/
}

/* reset TYPO3 default styles */
.module-body {
	padding: 0;
}

/*.page-header {*/
	/*background-color: black;*/
	/*padding-left: 20px;*/
	/*line-height: 30%;*/
/*}*/
.page-header {
	margin: 0;
}
.page-header h1,
.page-header h1 small {
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
}