<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="page-header bg-dark text-white">
	<h1>Digital Asset Management <small>Here are your files.</small></h1>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<div class="navbar">
				Suche
			</div>
			<div>
				<ul>
					<li>Dateien</li>
					<li>Favoriten</li>
					<li>Zuletzt verwendet</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-md-10">
			<div class="header">
				<h1>Files <small class="breadcrumb">{storages.1.storageRecord.name}</small></h1>
			</div>
			<div class="maincontent">
				<div class="row folders">
				</div>
				<div class="row files">
				</div>
				<f:comment>
				<f:if condition="{content.folders}">
					<f:then>
						<div class="row">
							<f:for each="{content.folders}" as="folder">
								<div class="card d-inline-block" style="width: 180px;">
									<core:iconForResource resource="{folder}" size="large" />
									<div class="card-body">
										<h5 class="card-title">{folder.name}</h5>
										<p class="card-text">Items: {folder.uid}</p>
									</div>
								</div>
							</f:for>
						</div>
					</f:then>
					<f:else>
						<p>No Folders found</p>
					</f:else>
				</f:if>
				<f:if condition="{content.files}">
					<f:then>
						<div class="row">
							<f:for each="{content.files}" as="file">
								<div class="card d-inline-block" style="width: 180px;">
									<f:image class="card-img-top" image="{file}" width="180c" height="120c"/>
									<div class="card-body">
										<h5 class="card-title">{file.name}</h5>
										<p class="card-text">Size: {file.size} <br>Modified: {file.uid} {file.properties.modification_date -> f:format.date()}</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</f:for>
						</div>
					</f:then>
					<f:else>
						<p>No Files found</p>
					</f:else>
				</f:if>
				</f:comment>
			</div>
		</div>
		<div class="errorlog col-12"></div>
	</div>
</div>
</html>
